#container
	max-width: 800px
	margin: 0 auto
	
	header
		overflow: auto
		border-bottom: 1px solid #eee

		h1
			float: left
			width: 50%

		.form-wrapper
			@extend h1
			padding-top: 30px
			text-align: right
	
	#main-content
		clear: both
		display: block
		max-width: 190px
		margin: 0 auto

.list-1
	li
		list-style-type: disc


.three-cols
	.col-item
		float: left

	.col-1
		width: 5%

	.col-2
		width: 30%

	.col-3
		width: 65%